@{
    ViewBag.Title = "Tỏi đen linh đơn";
}

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 left">
    @Html.Partial("_MenuLeft")
    @Html.Partial("_TinTucAll")
</div>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
    <p class="tieuDe">TỎI ĐEN LÀ GÌ ? TỎI TRẮNG LÀ GÌ ?</p>
    <!--Tỏi trắng-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toiTrang">
        <p class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noiDung">
            Tỏi thường ( Allium sativum ): Tỏi thường có tên tiếng Anh là Allium sativum, thường được dùng làm gia vị thực phẩm. Có rất nhiều công dụng tốt cho sức khỏe:
            <br />
            &emsp;Kích thích tiêu hóa, chữa rối loạn tiêu hóa, viêm khớp, tiểu đường, cảm lạnh, sốt rét, lao...
            <br />
            &emsp;Và những nghiên cứu gần đây đã phát hiện thêm tỏi thường còn có rất nhiều công dụng như: Làm ức chế ung thư, tiêu diệt tế bào ung thư, hạ huyết áp, giảm cholesterol trong máu, phòng ngừa trụy tim mạch, ức chế sự phát triển của vi sinh vật gây bệnh.
        </p>
        <img src="~/Content/Front/Image/ToiTrang-min.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-responsive" />
    </div>
    <!--Tỏi đen-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toiDen">
        <p class="tieuDe">TỎI ĐEN - BLACK GARLIC    TỎI ĐEN LINH ĐƠN</p>
        <img src="~/Content/Front/Image/ToiDen-min.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-responsive" />
        <p class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noiDung">
            <span style="font-weight:bold;">TỎI ĐEN CÓ TÊN TIẾNG ANH LÀ : BLACK GARLIC    TỎI ĐEN LÀ LOẠI TỎI THƯỜNG ĐƯỢC LÊN MEN 100%</span> tự nhiên trong thời gian từ 45 đến 60 ngày ( có thể lên tới 90 ngày ).
            <br />
            Tỏi đen sau khi lên men có hàm lượng dinh dưỡng cao hơn rất nhiều lần so với tỏi thường. Trong quá trình lên men này cũng sản sinh được chất S - Allycystein có hiệu quả vô cùng tích cực đối với sức khỏe trong việc làm giảm Cholesterol, phòng chống các bệnh cao huyết áp, tiểu đường, phòng chống ung thư, làm ức chế tế bào ung thư, tiểu đường và nhất là làm tan biến các màng xơ vữa động mạch.
        </p>
    </div>
    <!--Khác nhau-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 khacNhau">
        <p class="tieuDe">SỰ KHÁC NHAU GIỮA TỎI ĐEN VÀ TỎI THƯỜNG ?</p>
        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noiDung">
            Tỏi đen và tỏi thường tuy cùng là tỏi nhưng cách đây gần 10 năm, công nghệ làm lên men tỏi của Nhật Bản và Hàn Quốc đã tạo ra sự khác biệt rất lớn trong giá trị của chúng. Bình thường, tỏi thường chỉ có 2 hợp chất Allicin và S - allyl cysteine nhưng hàm lượng rất thấp và dễ bay hơi ngay cả khi bóc vỏ.
            <br />
            TUY NHIÊN: nếu đưa tỏi thường nguyên vỏ vào trong quá trình lên men tự nhiên với thời gian từ 45 đến 60 ngày. Hai hợp chất này không chỉ được giữ lại nguyên vẹn mà còn được nhân lên với hàm lượng cao gấp 5 - 10 lần. Đây là những hoạt chất kháng sinh CỰC MẠNH và chống ô xi hóa gấp nhiều lần trong tỏi thường, giúp chuyển đổi từ một gia vị thông thường THÀNH MỘT DƯỢC LIỆU QUÝ HIẾM và rất đắt tiền. Giá trị dược liệu của TỎI ĐEN ĐÃ ĐƯỢC CÁC NHÀ KHOA HỌC QUỐC TẾ CÔNG NHẬN để dùng phổ biến trong cuộc sống hàng ngày và trong điều trị y học ở các quốc gia phát triển.
        </p>
        <img src="~/Content/Front/Image/KhacNhau-min.png" class="img-responsive" />
        <p class="dacBiet">
            &emsp;ĐẶC BIỆT: Trong hàm lượng S - allyal - L - Cystein tăng 5 - 6 lần so với tỏi thường.
            <br />
            TỎI ĐEN có hàm lượng PROTEIN cao gấp 3 lần, vitamin B12 là 10,725 mg so với 0,06 mg trong tỏi thường, vitamin B6 trong TỎI ĐEN là: 14,048 mg trong khi đó tỏi trắng không có, chất S - Allcysteine trong TỎI ĐEN là: 0,53 mg, so với tỏi trắng chỉ có là: 0,038 mg.
        </p>
        <img src="~/Content/Front/Image/BieuDo-min.png" class="img-responsive" />
        <p class="noiDung">
            Năng lượng trong <span style="font-weight:bold;">TỎI ĐEN</span> lên tới: 1.109 Kcal, trong tỏi thường chỉ có là: 138 Kcal.
            <br />
            Polyphenol trong <span style="font-weight:bold;">TỎI ĐEN</span> lên tới: 1.001 mg, trong khi tỏi trắng chỉ có 82mg.
            <br />
            SOD enzyme nằm trong tỏi đen là: 790mg, tỏi trắng thường chỉ có 220mg.
            <br />
            Nhờ quá trình lên men sinh học tự nhiên qua nhiệt độ và độ ẩm mà <span style="color:#ff0000; font-weight:bold;">TỎI ĐEN - TỎI ĐEN LINH ĐƠN</span> phòng chống ngoài những bệnh trên còn sản sinh ra những hoạt chất vô cùng tốt giúp cho sức khỏe con người, giúp cơ thể loại bỏ các giác mệt mỏi, thiếu năng lượng, cải thiện sức khỏe cơ thể, giải quyết táo bón, báo vệ gan, gia tăng hoạt động tuyến tiền liệt, thúc đẩy giấc ngủ, <span style="font-weight:bold;">LÀM CHẬM LÃO HÓA DA</span>, ổn định đường huyết, giảm mỡ máu..v..v.
        </p>
    </div>
    <p class="cauKet">ĐÓ LÀ LÝ DO TẠI SAO BẠN NÊN BỔ SUNG TỎI ĐEN VÀO BỮA ĂN HÀNG NGÀY VÀ CHO CHÍNH BẠN ĐỂ CÓ MỘT SỨC KHỎE TỐT !</p>
</div>

<!--Gợi ý thêm sản phẩm-->
@Html.Partial("_SanPham")