<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 goiYSP">
    <img src="~/Content/Front/Image/BAO HO.jpg" class="img-responsive" />
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <p class="tieuDe">SẢN PHẨM</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control">
            <!-- Controls -->
            <div class="controls pull-right">
                <a class="left fa fa-chevron-left btn btn-success prevNext" href="#carousel-example" data-slide="prev"></a>
                <a class="right fa fa-chevron-right btn btn-success prevNext" href="#carousel-example" data-slide="next"></a>
            </div>
        </div>
    </div>
    <div id="carousel-example" class="carousel slide" data-ride="carousel" ng-controller="categoryProductController">
        <input type="hidden" value="1" id="idCategory" />
        <span us-spinner="{radius:15, width:4, length: 8}"></span>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 sanPham" ng-repeat="(index, value) in products" @*ng-show="$index <=3 "*@>
                        <img ng-src="{{value.image}}" class="img-responsive" />
                        <a class="tieuDe" href="/san-pham/{{value.alias}}-{{value.idProduct}}">{{value.title}}</a>
                        <p class="gia"><span>Giá:</span> {{value.price | number:0}}<span class="" ng-class="{'hidden':value.price == null}"> đ</span>{{value.price == null ? 'Liên hệ' : ''}}</p>
                        <a class="chiTiet" href="/san-pham/{{value.alias}}-{{value.idProduct}}">Chi tiết</a>
                        @*<a href="#" class="datHang" data-toggle="modal" data-target="#datHang">Đặt hàng</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 sanPham" ng-repeat="(index, value) in products" @*ng-show="$index >=4 && $index <=7 "*@>
                        <img ng-src="{{value.image}}" class="img-responsive" />
                        <a class="tieuDe" href="/san-pham/{{value.alias}}-{{value.idProduct}}">{{value.title}}</a>
                        <p class="gia"><span>Giá:</span> {{value.price | number:0}}<span class="" ng-class="{'hidden':value.price == null}"> đ</span>{{value.price == null ? 'Liên hệ' : ''}}</p>
                        <a class="chiTiet" href="/san-pham/{{value.alias}}-{{value.idProduct}}">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Đăng ký sản phẩm -->
@*<div id="datHang1" class="modal fade" role="dialog" ng-controller="themOrderController">
        <input type="hidden" value="@Model.idProduct" id="idProductCurrent" />
        <input type="hidden" value="@Model.idCategoryProduct" id="idCategoryProduct" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#109917">
                    <button type="button" class="close" data-dismiss="modal" style="color:#fff; border:0;">&times;</button>
                    <p class="modal-title" style="color:#fff;">Đăng ký Tour @Model.title</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <form class="form" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  " style="display:flex">
                                                <label for="title" style="width:30%; float:left;">Họ tên</label>
                                                <input type="text" style="width:70%; float:right;" class="form-control" id="hoTen" name="hoTen" ng-model="order.hoTen">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group  " style="display:flex">
                                                <label for="title" style="width:30%; float:left;">Địa Chỉ</label>
                                                <input type="text" style="width:70%; float:right;" class="form-control" id="diaChi" name="diaChi" ng-model="order.diaChi">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group  " style="display:flex" ng-class="{'has-error':!order.SDT, 'has-success':order.SDT}">
                                                <label for="title" style="width:30%; float:left;">Số điện thoại *</label>
                                                <input type="text" style="width:70%; float:right;" class="form-control" id="SDT" name="SDT" ng-model="order.SDT">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group  " style="display:flex">
                                                <label for="title" style="width:30%; float:left;">Email</label>
                                                <input type="email" style="width:70%; float:right;" class="form-control" id="email" name="email" ng-model="order.email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group  " style="display:flex" ng-class="{'has-error':!order.sanPham, 'has-success':order.sanPham}">
                                                <label for="title" style="width:30%; float:left;">Sản phẩm *</label>
                                                <input type="text" value="@Model.title" style="width:70%; float:right;" class="form-control" id="tour" name="tour" ng-model="order.sanPham" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group  " style="display:flex">
                                                <label for="title" style="width:60%; float:left;">Số lượng</label>
                                                <input type="number" style="width:40%; float:right;" class="form-control" id="guestNumber" name="guestNumber" ng-model="order.soLuong">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group  " style="display:flex">
                                                <label for="title" style="width:30%; float:left;">Thành tiền</label>
                                                <input type="number" style="width:70%; float:right;" class="form-control" id="guestNumber" name="guestNumber" value="{{price*order.soLuong}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="SaveOrder()" style="border:0; background-color:#109917; color:#fff;">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>*@