
@{
    ViewBag.Title = "Thêm Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div ng-app="myApp">
    <div ng-controller="themBannerController">
        <input type="hidden" value="@WebSecurity.CurrentUserName" id="user" />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-success" ng-click="saveBanner()"><span class="fa fa-edit"></span> Lưu</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="saveBannerAndExit()"><span class="fa fa-check-square-o"></span> Lưu & Thoát</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="saveBannerAndNew()"><span class="fa fa-plus"></span> Lưu & Thêm mới</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-danger" ng-click="cancel()"><span class="fa fa-remove"></span> Hủy bỏ</button>
            </div>
        </div>
        <hr class="ruler-lg" />

        <div class="card">
            <div class="card-body">
                <form class="form" role="form">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group  " ng-class="{'has-error':!banner.title, 'has-success':banner.title}">
                                <input type="text" class="form-control" id="title" name="title" ng-model="banner.title" ng-change="changeTitle()">
                                <label for="title">Tiêu đề *</label>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="card-head">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#noidung">Banner</a></li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="noidung">
                            <div class="col-md-9">
                                <form class="form" role="form">
                                    <div class="form-group ">
                                        <textarea name="description" id="description" class="form-control" rows="3" placeholder="" ng-model="banner.description"></textarea>
                                        <label for="description">Mô tả</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="image" id="image" ng-model="banner.image" class="form-control" /> <button class="btn btn-primary" ng-click="chooseImage()">Chọn ảnh</button>
                                        <label for="image">Hình ảnh (1250x400)</label>
                                        <img class="img-responsive" ng-src="{{banner.image}}" ng-show="banner.image" />
                                    </div>
                                </form>
                            </div>


                            <div class="col-md-3">
                                <form class="form" role="form">
                                    @*<div class="form-group">
                                        <input type="text" class="form-control" id="link" name="link" ng-model="banner.link" />
                                        <label for="link">Link</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="text_link" name="text_link" ng-model="banner.text_link" />
                                        <label for="text_link">Text Link</label>
                                    </div>*@
                                    <div class="form-group ">
                                        <textarea name="note" id="note" class="form-control" rows="3" placeholder="" ng-model="banner.ghichu"></textarea>
                                        <label for="note">Ghi chú</label>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

</div>




