.alert {
    position: absolute;
    top: 15px;
    left: 20%;
    right: 20%;
    width: 300px;
    background: white;
    border: 1px solid black;
}

body {
    background-color: #f7f7f7;
}

.header {
    margin: 0 4em;
}

    .header > .top {
        background-color: #fff;
    }

        /*logo*/
        .header > .top > .left {
        }

            .header > .top > .left > img {
            }

        .header > .top > .right {
            padding: 0;
        }

            /*SĐT trên đầu*/
            .header > .top > .right > .sdt {
                margin-top: 1em;
                text-align: right;
                padding-right: 5em;
            }

                .header > .top > .right > .sdt > .link {
                    color: #f44336;
                    font-size: 1.3em;
                }

                    .header > .top > .right > .sdt > .link:hover {
                    }

                    .header > .top > .right > .sdt > .link > span {
                        color: #000;
                    }

            /*menu chính*/
            .header > .top > .right > .menu {
                padding: 0;
                margin-top: 1em;
            }

                .header > .top > .right > .menu > .navbar-inverse {
                    background-color: #f44336;
                    border: 0;
                    border-radius: 0;
                }

                    .header > .top > .right > .menu > .navbar-inverse > .container-fluid {
                    }

                        .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-.header {
                        }

                            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-.header > .navbar-toggle {
                            }

                            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-.header > .navbar-brand {
                            }

                        .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse {
                        }

                            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav {
                            }

                                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li {
                                }

                                    .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li > a {
                                        color: #fff;
                                        font-size: 1.3em;
                                        font-weight: bold;
                                        padding-left: 0.5em;
                                        padding-right: 0.5em;
                                    }

                                        .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li > a:hover {
                                            background-color: #fff;
                                            color: #f44336;
                                        }

                                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search {
                                    padding-top: 0.8em;
                                }

                                    .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > input {
                                    }

                                    .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > button {
                                        background-color: transparent;
                                        border: 0;
                                        color: #fff;
                                        font-size: 1.2em;
                                        font-weight: bold;
                                    }

    .header > .banner {
        padding: 0;
    }

        .header > .banner > .carousel {
        }

            .header > .banner > .carousel > .carousel-indicators {
                text-align: right;
                width: 100%;
                bottom: 2%;
                left: 0px;
                margin: 0;
                padding-right: 20%;
            }

            .header > .banner > .carousel > .carousel-inner {
            }

                .header > .banner > .carousel > .carousel-inner > .item {
                }

        .header > .banner img {
            width: 100%;
        }


/*Nội dung chính*/
.main {
    margin: 0 4em;
    background-color: #fff;
    display: inline-block;
}

    .main > .left {
        padding: 0;
        background-color: #fff;
    }

        .main > .left .tieuDe {
            background-color: #f44336;
            color: #fff;
            margin: 0;
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
            padding: 0.5em 0;
        }

        .main > .left > .sanPham {
            padding-top: 1em;
        }

            .main > .left > .sanPham > .list {
                list-style: none;
                padding: 0 2em;
                border: solid 1px #dad9d9;
            }

                .main > .left > .sanPham > .list > .item {
                    border-bottom: solid 1px #9f9d9d;
                    padding: 0.6em 1em;
                    text-align: center;
                }

                    .main > .left > .sanPham > .list > .item > a {
                        color: #393737;
                        font-weight: bold;
                        font-size: 1.1em;
                    }

                        .main > .left > .sanPham > .list > .item > a:hover {
                            text-decoration: none;
                            color: #f44336;
                        }

        .main > .left > .tinTuc {
            margin-top: 1em;
        }

            .main > .left > .tinTuc > .list {
                list-style: none;
                padding: 0 1em;
                border: solid 1px #dad9d9;
            }

                .main > .left > .tinTuc > .list > .item {
                    display: inline-block;
                    margin: 0.3em 1em;
                }

                    .main > .left > .tinTuc > .list > .item > .tieuDe {
                        text-align: left;
                        color: #000;
                        font-size: 1.2em;
                        background-color: #fff;
                        font-weight: normal;
                        display: inline-block;
                        margin-top: 0.5em;
                    }

                        .main > .left > .tinTuc > .list > .item > .tieuDe:hover {
                        }

                    .main > .left > .tinTuc > .list > .item > img {
                        width: 40%;
                        float: left;
                    }

                    .main > .left > .tinTuc > .list > .item > .tomTat {
                        width: 60%;
                        float: right;
                        font-size: 1em;
                        padding: 0 0.5em;
                        margin: 0;
                    }

        .main > .left > .hoiDap {
            margin-top: 1em;
        }

            .main > .left > .hoiDap > .list {
                list-style: none;
                padding: 0 1em;
                border: solid 1px #dad9d9;
            }

                .main > .left > .hoiDap > .list > .item {
                    margin: 0.5em 1em 0.7em 1em;
                }

                    .main > .left > .hoiDap > .list > .item > a {
                        color: #000;
                        font: 1.2em;
                    }

                        .main > .left > .hoiDap > .list > .item > a:hover {
                        }

                        .main > .left > .hoiDap > .list > .item > a > span {
                            color: #f44336;
                            margin-right: 5px;
                        }

        .main > .left > .video {
            margin-top: 1em;
        }

            .main > .left > .video > .list {
                list-style: none;
                padding: 0 1em;
                border: solid 1px #dad9d9;
            }

                .main > .left > .video > .list > .item {
                }

                    .main > .left > .video > .list > .item > .tieuDe {
                        text-align: left;
                        color: #000;
                        font-size: 1em;
                        background-color: #fff;
                        font-weight: normal;
                        display: inline-block;
                        margin-top: 0.5em;
                    }

                    .main > .left > .video > .list > .item > img {
                        width: 100%;
                    }

    .main > .right {
        background-color: #fff;
        padding: 1em;
    }

        .main > .right > .tieuDe {
            color: #f44336;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1em;
        }

        .main > .right > .toiTrang {
            margin-bottom: 1em;
        }

            .main > .right > .toiTrang > .noiDung {
                text-align: justify;
            }

            .main > .right > .toiTrang > img {
            }

        .main > .right > .toiDen {
            margin-bottom: 1em;
            text-align: justify;
        }

            .main > .right > .toiDen > .tieuDe {
                color: #f44336;
                font-size: 1.2em;
                font-weight: bold;
            }

            .main > .right > .toiDen > img {
            }

            .main > .right > .toiDen > .noiDung {
            }

        .main > .right > .khacNhau {
            margin-bottom: 1em;
        }

            .main > .right > .khacNhau > .tieuDe {
                color: #f44336;
                font-size: 1.2em;
                font-weight: bold;
            }

            .main > .right > .khacNhau > .noiDung {
                text-align: justify;
            }

            .main > .right > .khacNhau > img {
                margin: 0 auto;
            }

            .main > .right > .khacNhau > .dacBiet {
                color: #f44336;
                font-weight: bold;
                text-align: justify;
            }

        .main > .right > .cauKet {
            text-align: center;
            color: #f44336;
            font-size: 1.5em;
            font-weight: bold;
            padding-bottom: 0;
            margin: 0;
        }

    .main > .goiYSP {
        padding-top: 1em;
        background-color: #fff;
    }

        .main > .goiYSP > img {
            margin: 0 auto;
        }

        .main > .goiYSP .tieuDe {
            border-bottom: solid 1px #dad9d9;
            font-weight: bold;
            font-size: 1.5em;
            padding-top: 1em;
            margin: 0 0.8em 0.5em 0.8em;
            color: #888;
        }

        .main > .goiYSP .control {
            border-bottom: solid 1px #dad9d9;
            padding-top: 1.2em;
        }

        .main > .goiYSP .prevNext {
            background-color: transparent;
            color: #462b20;
            border-radius: 0;
            border: solid 1px #d5d5d5;
        }

            .main > .goiYSP .prevNext:hover {
                background-color: #d5d5d5;
            }

        .main > .goiYSP .sanPham {
            text-align: center;
        }

            .main > .goiYSP .sanPham > img {
                width: 100%;
                margin-bottom: 1em;
            }

            .main > .goiYSP .sanPham > .tieuDe {
                padding: 0.8em 0;
                color: #f44336;
                font-size: 1.1em;
                font-weight: bold;
                border: none;
            }

                .main > .goiYSP .sanPham > .tieuDe:hover {
                    text-decoration: none;
                    color: aqua;
                }

            .main > .goiYSP .sanPham > .gia {
                font-weight: bold;
                color: #f44336;
                margin-top: 1em;
            }

                .main > .goiYSP .sanPham > .gia > span {
                    color: #000;
                }

            .main > .goiYSP .sanPham > .chiTiet {
                width: 90%;
                margin: 0 5%;
                float: left;
                background-color: #f44336;
                color: #fff;
                padding: 0.3em 0;
            }

                .main > .goiYSP .sanPham > .chiTiet:hover {
                    text-decoration: none;
                    background-color: #ff0000;
                }

            .main > .goiYSP .sanPham > .datHang {
                width: 40%;
                margin: 0 5%;
                float: right;
                background-color: #f44336;
                color: #fff;
                padding: 0.3em 0;
            }

                .main > .goiYSP .sanPham > .datHang:hover {
                    text-decoration: none;
                    background-color: #ff0000;
                }

.footer {
    margin: 0 4em;
    background-color: #3a3a3a;
    display: -webkit-box;
}

    .footer > .left {
        color: #fff;
        padding: 1em;
    }

        .footer > .left > .tencty {
            font-size: 1.2em;
            font-weight: bold;
        }

        .footer > .left > .lienHe {
        }

    .footer > .right {
        padding: 2em;
    }

/*Mobile*/
@media (max-width: 767px) {
    .header {
        margin: 0 0.5em;
    }

        .header > .top {
            padding: 0;
        }

            .header > .top > .left > img {
                margin: 0 auto;
            }

            .header > .top > .right > .sdt {
                padding: 0;
            }

            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search {
                padding-left: 1em;
            }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .main {
        margin: 0 0.5em;
    }

        .main > .left > .sanPham > .list {
            padding: 0 1em;
        }

        .main > .left > .tinTuc > .list {
            padding: 0;
        }

        .main > .left > .hoiDap > .list {
            padding: 0;
        }

        .main > .right {
            padding: 0;
        }

            .main > .right > .toiTrang {
                padding: 0;
            }

            .main > .right > .toiDen > img {
                padding: 0;
            }

            .main > .right > .toiDen > .noiDung {
                padding: 0;
            }

            .main > .right > .khacNhau > .noiDung {
                padding: 0;
            }

        .main > .goiYSP {
            padding: 1em 0;
        }

            .main > .goiYSP .sanPham {
                margin-bottom: 1em;
            }



    .footer {
        margin: 0 0.5em;
    }
}

/*table*/
@media (min-width: 767px) and (max-width:992px) {
    .header {
        margin: 0 1em;
    }

    .navbar {
        min-height: 1px;
    }

    .header > .top > .right > .menu > .navbar-inverse > .container-fluid {
        padding: 0;
    }

        .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse {
            padding: 0;
        }

            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li > a {
                font-size: 0.9em;
                padding: 0.3em;
            }

            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search {
                padding-top: 0.2em;
                ;
            }

                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > input {
                    width: 5em;
                    font-size: 0.8em;
                }

                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > button {
                    font-size: 0.8em;
                }

    .main {
        margin: 0 1em;
    }

        .main > .left .tieuDe {
            font-size: 1.1em;
        }

        .main > .left > .tinTuc > .list {
            padding: 0;
        }

            .main > .left > .tinTuc > .list > .item > .tieuDe {
                margin: 0;
            }

            .main > .left > .tinTuc > .list > .item > .tomTat {
                padding: 0 0.5em;
            }

        .main > .left > .sanPham > .list > .item > a {
            font-size: 1em;
        }

        .main > .left > .hoiDap > .list {
            padding: 0;
        }

        .main > .left > .video > .list > .item > .tieuDe {
            margin-top: 0;
        }

        .main > .goiYSP .sanPham > .tieuDe {
            padding: 0.3em;
            font-size: 1em;
        }

        .main > .goiYSP .sanPham > .gia {
            margin-top: 0.5em;
            font-size: 0.8em;
        }

    .footer {
        margin: 0;
    }
}

/*table xoay ngang*/
@media (max-width: 1024px) and (min-width:992px) {
    .header > .top > .right > .menu > .navbar-inverse > .container-fluid {
        padding: 0;
    }

        .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse {
            padding: 0.5em 0;
        }

            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li > a {
                padding: 0.4em 0.3em;
                font-size: 1em;
            }

            .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search {
                padding-top: 0.3em;
            }

                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > input {
                    font-size: 1em;
                }

                .header > .top > .right > .menu > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > .search > button {
                    font-size: 1em;
                }

    .main > .right > .toiTrang > .noiDung {
        padding: 0;
    }

    .main > .right > .toiDen > .noiDung {
        padding: 0;
    }

    .main > .right > .khacNhau > .noiDung {
        padding: 0;
    }

    .main > .goiYSP .sanPham > .chiTiet {
        width: 45%;
        margin-left: 0;
    }

    .main > .goiYSP .sanPham > .datHang {
        width: 45%;
        margin-right: 0;
    }
}

/*Desktop*/
@media (min-width: 992px) {
}

/*Màn hình lớn*/
@media (min-width:1400px) {
}
